.classpath
.project
.settings/
.editorconfig
target/

#archives
*.tgz
*.tgz.asc

# VS Code
.vscode/

# Intellij
.idea/
!.idea/copyright/
!.idea/copyright/*.xml
*.iml
*.iws
bin/

# Logs
*.log

# Mac
.DS_Store

# Maven
log/
target/
atlassian-ide-plugin.xml
*.swp
velocity.log*
localhost:*.access
/dist/
/debug/lib
/debug/*.sql
stage/fxs
pom.xml.versionsBackup
/previewer/

**/build/

.gradle/
.env

# Claude Code
.claude/
